[Desktop Entry]
Name=WmClock
Comment=ASClock for WindowMaker
Comment[pl]=ASClock dla WindowMakera
Exec=wmclock -shape
Terminal=false
Type=Application
