[Desktop Entry]
Encoding=UTF-8
Name=WmClock
Comment=ASClock for WindowMaker
Comment[pl]=ASClock dla WindowMakera
Exec=wmclock -shape
Terminal=false
Type=Application
# vi: encoding=utf-8
